$lightgrey: rgb(201, 214, 246);
$lightgreen: rgb(100,255,218);
$lightnavy: rgb(23, 42, 69);
$lighternavy: #172a45;
.container {

    width: 280px;
    height: 300px;
    margin: 10px ;
    color: $lightgrey;
    background-color: $lighternavy;
    border: 1px solid $lightgrey;
    padding: 10px;
    transition: all 0.3s ease-in-out;
    padding: 30px;
    border-radius: 5px;
        font-family: 'Source Code Pro', monospace;

    &:hover {
        transform: translateY(-10px);
        cursor: pointer;
        box-shadow: 5px 5px 15px 5px #000000;
    }



    .icon {
        font-size: 40px;
        margin-bottom: 20px;
        color: $lightgreen;
    }

    .links {
        display: flex;
        justify-content: center;
        margin: 20px auto;
        font-size: 30px;
        text-decoration: none;

        a {
            color: $lightgrey; 
            margin: 0 20px;
            &:hover {
                color: $lightgreen; 
            }
        }
    }
}

@media(max-width: 800px){
.container {
    width: 80%;
}
}

@media(max-width:350px){
    .container {

        height: 150px;
        p {
            display: none;
        }
    }
}