$lightgrey: rgb(201, 214, 246);
$lightgreen: rgb(100,255,218);
$lightnavy: rgb(23, 42, 69);
.container {
    width: 300px;
    margin: 10px auto;
    color: $lightgrey;
    border: 1px solid $lightgrey;
    padding: 10px;
    transition: all 0.3s ease-in-out;
    padding: 30px;
// background-color: $lightnavy;

    &:hover {
        transform: translateY(-10px);
        cursor: pointer;
        box-shadow: 5px 5px 15px 5px #000000;
    }

    p {
        // background-color: $lightnavy;
        
    }

    .icon {
        font-size: 30px;
        color: $lightgreen !important;
    }

    .links {
        display: flex;
        justify-content: center;

        font-size: 30px;
        text-decoration: none;

        a {
            color: $lightgrey; 
            margin: 0 20px;
            &:hover {
                color: $lightgreen; 
            }
        }
    }
}

@media(max-width: 800px){
.container {
    width: 80%;
}
}