$lightgrey: rgb(201, 214, 246);
$lightgreen: rgb(100,255,218);

.container {
    width: 300px;
    margin: 10px auto;
    color: $lightgrey;
    border: 1px solid $lightgrey;
    padding: 10px;
    transition: all 0.3s ease-in-out;

    &:hover {
        transform: translateY(-10px);
        cursor: pointer;
        box-shadow: 5px 5px 15px 5px #000000;
    }
    
}