$lightgrey: rgb(201, 214, 246);
$lightgreen: rgb(100,255,218);


.portfolio {
    color: $lightgrey;
    margin: 10px auto;
    margin-top: 50px;
    padding: 30px;
    width: 50%; 


    .title {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin: 50px auto;
        h2 {
            text-align: center;
            display: inline-block; 
            flex: 0.3;
            
        }
        
        span {
            background-color: $lightgrey;
            display: block;
            height: 0.2px;
            flex: 0.5;
        }
    }
}

@media(max-width: 800px){
    .portfolio {
        width: 75%;
        padding: 0px;
       .title {
        h2 {
            flex: 0.6;
        }
        span {
            flex: 0.4
        }
    }
}
}

@media(max-width: 600px){
    .portfolio {
        width: 85%;
    }
}
