$lightgrey: rgb(201, 214, 246);
$lightgreen: rgb(100,255,218);

.about{
    color: $lightgrey;
    margin: 10px auto;
    margin-top: 50px;
    padding: 30px;
    width: 50%;
    .content-image {
        display: flex;
        flex-wrap: wrap;

       
    }
    .content {
        width: 60%;
        margin: 0px 50px;
        text-align: justify;
        line-height: 1.6;
    }

    .picture-container {
        width: 25%;
        
        


        img {
            width: 100%;
            border-radius: 5px;
            object-fit: cover;
        }
    }


    .title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
        h3 {
            text-align: center;
            display: inline-block; 
            flex: 0.3;
        }
        
        span {
            background-color: $lightgrey;
            display: block;
            height: 1px;
            flex: 0.6;
        }
    }
    .content {
        p {
            font-size: 16px;
            margin: 15px 0;

            a {
                text-decoration: none;
                color: $lightgreen;
            }
        }
    }

    .technologies-container {
        display: flex;
        justify-content: space-between;
    }

}

@media(max-width: 1300px){
    .about {
        width: 90%;
    }

}

@media(max-width: 750px){
    .about {
        width: 90%;
        padding: 10px;
    }
    
    .content-image {
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
        .content {
            width: 80%;
            margin-bottom: 30px;
        }
        .picture-container {
            width: 70%;
            margin: 40px auto;
        }

    }
}