$lightgrey: rgb(201, 214, 246);
$lightgreen: rgb(100,255,218);


.container {
    text-align: center;
    width: 60%;
    margin: 0 auto;
  
        
        h2 {
            text-align: center;
            color: $lightgrey;
        }
        

    
.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}


    
}

@media(max-width: 800px){
    .container {
        width: 80%;
    }
    
}