$lightgrey: rgb(204, 214, 246);
$lightgreen: rgb(100,255,218);
$darkergray: rgb(136, 146, 176);
.footer {
    text-align: center;
    color: $darkergray;
}
.links {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    color: $lightgrey;
    height: 150px;
    justify-content: space-between;
    padding: 20px;
    font-size: 25px;
    background-color: black;

    a {
        color: $lightgrey;
        &:hover {
            color: $lightgreen;
        }
    }
}


@media(max-width:700px){
    .links {
        font-size: 16px;
        height: 100px;
    }
}